.top{
    height: 120px;
    width: 100%;
    background-color: #009688;
    position: fixed;
    z-index: -1;
}

.chat-box{
    height: calc(100% - 40px);
    width: 95%;
    margin-top: 20px;
    padding: 0;
}

.profile-pic{
    height: 40px;
    width: 40px;
}

.form-rounded{
    border-radius: 1rem;
}

.friend-pic{
    height: 50px;
    width: 50px;
}

.name{
    font-weight: 400;
    color: #000;
}

.under-name{
    font-size: 12px;
    line-height: 15px;
    max-height: 15px;
}

.icon{
    font-size: 20px;
    color: #9CA1A3;
}

.chat-pic{
    width: 30px;
    height: 30px;
}

.recive {
    background-color: lightgreen;
    border-radius: 1rem;
    padding: 10px 15px;
    display: inline-block;
}

.sent{
    background-color: whitesmoke;
    border-radius: 1rem;
    padding: 10px 15px;
    display: inline-block;
}

.time{
    font-size: 12px;
    color: rgb(80, 77, 77);
    margin-top: 3%;
    margin-left: 1%;
}